mixin modCard(id, name, url, type)
    div(id=id)
        h6.mod-name.mb0 #[a(href=url class=type target='_blank' rel="nofollow") #{name}]
        div.mod-card-bg.mt0
            block

mixin link(name, url)
    a(href=url target='_blank' rel="nofollow") #{name}

mixin modInfo
    div.mod-card-bg.mt0
        block

mixin name(name, url, type)
    - const color = `${type}-color`
    h6.mod-name.mb0 #[a(href=url class=color target='_blank' rel="nofollow") #{name}]

mixin file(name)
    span.file #{name}

mixin author(name)
    p.mt0.mb0 #[span.b Author: ]
        block

mixin installation(text)
    p.mt0.mb0 #[span.b Installation:] #{text}
        block

mixin version
    p.mt0.mb0 #[span.b Version: ]
        block

mixin notes
    p.mt0.mb0 #[span.b Mod Notes: ]
        block

mixin important
    p.important.mb0
        block

mixin ini
    p.ini.mb0
        block

mixin merge
    p.merge.mb0
        block