//- Deprecated
mixin modCard(id, name, url, game)
    div(id=id)
        h6.mod-name.mb0 #[a(href=url class=game target="_blank" rel="noopener") #{name}]
        div.mod-card-bg.mt0
            block

//- Deprecated
mixin modInfo
    div.mod-card-bg.mt0
        block

//- Deprecated
mixin name(name, url, fileType=null)
    - let color
    - const game = url.split('/')[3]

    if game === 'fallout3'
        - color = 'fo3-color'
    if game === 'newvegas'
        - color = 'fnv-color'
    if fileType !== null
        - color = `${fileType}-color`

    h6.mod-name.mb0 #[a(href=url class=color target='_blank' rel="noopener") #{name}]

//- Deprecated
mixin author
    p.mt0.mb0 
        span.b Author:
        block

//- Deprecated
mixin installation
    p.mt0.mb0 
        span.b Installation: #{text}
        block

//- Deprecated
mixin version
    p.mt0.mb0 
        span.b Version: 
        block

mixin important
    p.important.mb0
        block

mixin merge
    p.merge.mb0
        block

mixin newName
    h6.mod-name.mb0 #[a(href=modUrl class=color target='_blank' rel="noopener") #{modName}]

mixin optional
    .raised
        p.optional.mb0 Optional ESPs
        pre.mt0
            block

mixin hidden
    .raised
        p.hidden.mb0 Hidden Files
        pre.mt0
            block

mixin mispackaged
    .raised
        p.mispackage.mb0 Packaged Incorrectly
        pre.mt0
            block



