//-
    Creates a link with the proper
    rel and target attributes, accepts
    an undefined amount of classes

    +link('Links name', 'https://link.com', 'class2', 'class1')
//-
mixin link(name, url, ...style)
    a(href=url class=style.join(" ") target='_blank' rel="noopener") #{name}


//-
    Use for copy text. Can take any number of classes.

    +copy('mb0', 'mt0')
        | Lots of words and more words
        | Even more words
//-
mixin copy(...style)
    p(class="copy-bg " + style.join(" "))
        block


//-
    Creates an ini instruction block.

    +ini('Description')
        | ; Ini comments
        | [INISECITION]
        | IniSetting=1
//-
mixin ini(title)
    div.instruction-block
        p.ini.mb0 #{title}
        pre.mt0
            block


mixin important
    p.important.mb0
        block

mixin merge(title, id)
    details(style='background-color: #eb8cba;', id=id)
        summary
            p.merge.mb0 #{title}
        pre.mt0
            | Run zEdit through MO2
            | From the top drop-down menu, select zMerge, and from the bottom select Fallout NV
            | Click Start Session
            | Click the Create Merge button
            | In the Details tab, change the Name to #{title} and make sure the Merge Method is "Merge down (improved)"
            |
            | In the Plugins tab, select the following:
            |
            |
            block
            |
            |
            | Click OK to exit the merge menu
            | Click the Build button in the top right to the right of the merge name
            |
            | The merge should build successfully and you can exit out of the pop-up


//-
    Creates a general instructions block with no header
    Takes any number of classes

    +instructions('mb0', 'mt0')
        | Do this
        | Do that
//-
mixin instructions(...style)
    div.instruction-block
        pre(class=style.join(" "))
            block

mixin important2(title)
    div.instruction-block
        p.important.mb0 #{title}
        pre.mt0
            block
